**/.vscode/**
**/.vscode-test/**
out/**
node_modules/**
src/**
**/.gitignore
.yarnrc
**/webpack.config.js
**/tsconfig.json
**/tsconfig.node.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.prettierrc.js
**/.prettierrc.cjs
**/.prettierignore
.gitattributes
.editorconfig
.github/**
images/**
sample_dotnet/**
**/wdio.conf.ts
.wdio-vscode-service/**
**/.ncurc.json
**/.nvmrc

webview-ui/src/**
webview-ui/build/index.html
webview-ui/public/**
webview-ui/index.html
webview-ui/README.md
webview-ui/package.json
webview-ui/package-lock.json
webview-ui/node_modules/**
